<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.goride.provider">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.tranxit.enterprise.MvpApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <activity
            android:name="com.tranxit.enterprise.ui.activity.splash.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tranxit.enterprise.ui.activity.welcome.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.tranxit.enterprise.ui.activity.email.EmailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.tranxit.enterprise.ui.activity.regsiter.RegisterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.tranxit.enterprise.ui.activity.password.PasswordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.tranxit.enterprise.ui.activity.sociallogin.SocialLoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.tranxit.enterprise.ui.activity.forgot_password.ForgotActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.tranxit.enterprise.ui.activity.reset_password.ResetActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.tranxit.enterprise.ui.activity.main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.tranxit.enterprise.ui.activity.your_trips.YourTripActivity"
            android:label="@string/your_trips"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.tranxit.enterprise.ui.activity.profile.ProfileActivity"
            android:label="@string/profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.tranxit.enterprise.ui.activity.document.DocumentActivity"
            android:label="@string/document"
            android:parentActivityName="com.tranxit.enterprise.ui.activity.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tranxit.enterprise.ui.activity.invite.InviteActivity"
            android:label="@string/invite_refferal"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.tranxit.enterprise.ui.activity.change_password.ChangePasswordActivtiy"
            android:label="@string/change_password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.tranxit.enterprise.ui.activity.upcoming_detail.UpcomingTripDetailActivity"
            android:label="@string/upcoming_trip_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.tranxit.enterprise.ui.activity.past_detail.PastTripDetailActivity"
            android:label="@string/past_trip_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.tranxit.enterprise.ui.activity.location_pick.LocationPickActivity"
            android:parentActivityName="com.tranxit.enterprise.ui.activity.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tranxit.enterprise.ui.activity.main.MainActivity" />
        </activity>
        <activity
            android:name="com.tranxit.enterprise.ui.activity.earnings.EarningsActivity"
            android:label="@string/earnings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.tranxit.enterprise.ui.activity.summary.SummaryActivity"
            android:label="@string/summary"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.tranxit.enterprise.ui.activity.help.HelpActivity"
            android:label="@string/help"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service android:name="com.tranxit.enterprise.common.fcm.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>


        <service
            android:name="com.tranxit.enterprise.common.fcm.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />

        <activity
            android:name="com.facebook.accountkit.ui.AccountKitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tranxit.enterprise.ui.activity.aboutus.AboutActivity"
            android:label="@string/about_us"
            android:parentActivityName="com.tranxit.enterprise.ui.activity.main.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tranxit.enterprise.common.chat.ChatActivity"
            android:label="@string/chat"
            android:parentActivityName="com.tranxit.enterprise.ui.activity.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <service
            android:name="com.tranxit.enterprise.common.GPSTracker"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />

        <activity
            android:name="com.tranxit.enterprise.ui.activity.otp.OTPActivity"
            android:label="Verify OTP"
            android:parentActivityName="com.tranxit.enterprise.ui.activity.otp.OTPActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!--<receiver
            android:name="com.tranxit.enterprise.common.SmsReceiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>-->

        <receiver
            android:name="com.tranxit.enterprise.common.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.tranxit.enterprise.ui.activity.photoview.PhotoViewActivity"
            android:parentActivityName="com.tranxit.enterprise.ui.activity.document.DocumentActivity" />

        <service
            android:name="com.tranxit.enterprise.common.ChatHeadService"
            android:exported="false" />

    </application>

</manifest>